body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

html, body {
    margin: 0;
    max-width: 100%;
}

.mainContainer {
    max-width: 100%;
    margin: 0 0 0 0;
}

.navbar {
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.jumbotronMain, .jumbotron p {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.jumbotron {
    padding-top: 250px;
    padding-bottom: 250px;
}

hr {  
    border: 0;
    height: 1.3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 30px;
    margin-bottom: 30px;
}